.imageContainer {
  height: 100%;
  position: relative;

  img {
    display: block;
  }

  .caption {
    font-family: 'trojan pro regular';
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    width: 1200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    color: #F5F4F1;

    letter-spacing: 2px;
    font-size: 48px;
    line-height: 48px;
  }
}
