.container {
  font-family: 'libre franklin regular';
  color: #5D64A2;
  letter-spacing: 0.5px;
  display: flex;
  flex-grow: .4;
  justify-content: space-between;

  // This should be a global rule for <ul>
  margin: 0;

  li {
    list-style-type: none;
    margin: 0 10px;
    white-space: nowrap;
    font-weight: bold;

    a {
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
