.container {
  // color: #5D64A2; // active
  color: #5D6482; // inactive

  letter-spacing: 0.5px;
  display: flex;
  flex-grow: .4;
  justify-content: space-between;

  // This should be a global rule for <ul>
  margin: 0;

  li {
    list-style-type: none;
    margin: 0 10px;
    white-space: nowrap;

    a {
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      color: #5D6482;
    }
  }
}
