.container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 24px;

  font-family: 'libre franklin medium';

  button {
    min-width: 50%;
    border: none;

    &.blue {
      background-color: #333A54;
      a {
        color: #F5F4F1
      }
    }

    &.gray {
      background-color: #F5F4F1;
      a {
        color: #333A54;
      }
    }

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .5px;
    }
  }

  button:not(:last-child) {
    margin-right: 24px;
  }
}
