.container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 24px;

  font-family: 'libre franklin medium';

  a {
    width: 100%;
    border: none;
    height: 100%;

    display: block;
    text-decoration: none;

    > button {
      width: inherit;
      height: 100%;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .5px;

      &.blue {
        background-color: #333A54;
        color: #F5F4F1
      }

      &.gray {
        background-color: #F5F4F1;
        color: #333A54;
      }
    }
  }

  a:not(:last-child) {
    margin-right: 24px;
  }
}
