.pageContainer {
  height: 100%;
  width: 100%;

  // handles 100% height for FF/IE
  display: inline-block;

  .topAnchor {
    position: absolute;
    top: 60px;
  }

  // @todo: make app-wide
  .stdContent {
    max-width: 1200px;
    margin: 36px auto;
    display: flex;
    padding: 0 24px;

    .left, .right {
      width: 50%;
      display: inline-block;
    }

    .section {
      padding-right: 48px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .disclaimer {
      color: gray;
      font-size: 12px;
    }
  }

  .partners {
    display: flex;
    max-width: 1200px;
    padding: 0 24px;
    margin: 48px auto;
    justify-content: space-between;

    .partner {
      display: flex;
      max-width: 340px;

      .logo {
        min-width: 96px;
        margin: 24px 24px 0 0;
      }

      .text {
        min-width: 264px;
      }

      // targets MSRB Partner
      &:nth-child(2) {
        margin-right: 42px;
      }
    }
  }

  .callout {
    max-width: 1200px;
    margin: 36px auto;
    padding: 0 24px;
    color: #5D6482;
    font-family: 'libre franklin light';
    letter-spacing: .5px;
    font-size: 36px;
    line-height: 48px;
    display: block;
  }
}

@media (max-width: 1280px) {
  .pageContainer {
    .partners {
      margin: 48px 24px;

      .partner {
        display: initial;
        max-width: 348px;

        .logo {
          width: 96px;
          height: 78px;
          margin: 0 auto;
        }

        .text {
          min-width: 224px;
          padding-right: 12px;
        }

        // targets FINRA Partner
        &:first-child {
          margin-top: 78px;
        }

        // targets MSRB Partner
        &:nth-child(2) {
          .logo {
            width: 130px;
            position: relative;
            top: 5px;
            // margin-right: 20px;
          }
        }
      }
    }
  }
}

// Responsive - Tablet
@media (max-width: 768px) {
  .pageContainer {
    .callout, .stdContent {
      margin: 24px auto;
      max-width: 720px;
    }

    .callout {
      font-size: 27px;
      line-height: 36px;
    }

    .stdContent {
      display: block;

      .left, .right {
        width: 100%;
      }

      .left {
        margin-bottom: 24px;
      }
    }

    .partners {
      margin: 48px 24px 12px;
      flex-direction: column;

      .partner {
        display: flex;
        max-width: 100%;

        &:not(:first-of-type) {
          margin-bottom: 24px;
        }

        .text {
          min-width: 224px;
          margin-left: 40px;
        }

        // targets FINRA Partner
        &:first-child {
          margin: 0 0 24px 97px;
        }

        // targets MSRB Partner
        &:nth-child(2) {
          .logo {
            width: 120px;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }
}

// Responsive (specifically for banner caption)
@media (max-width: 620px) {
  .pageContainer {

    // targets 2nd Banner
    div:nth-child(7) {
      > div {
        > div {
          line-height: 36px;
          top: 35%;
          font-size: 24px;
          margin-left: 24px;
          width: 90%;
        }
      }
    }
  }
}

// Responsive - Smartphone
@media (max-width: 480px) {
  .pageContainer {
    margin-bottom: 24px;

    .callout, .stdContent {
      max-width: 432px;
    }

    .partners {
      margin: 0 24px;
      flex-direction: column;

      .partner {
        display: flex;
        max-width: 224px;

        &:not(:last-of-type) {
          margin-bottom: 24px;
        }

        .text {
          min-width: 224px;
          margin-left: 40px;
        }

        // targets FINRA Partner
        &:first-child {
          margin: 0 0 24px 97px;
        }

        // targets MSRB Partner
        &:nth-child(2) {
          .logo {
            width: 120px;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }
}

// Responsive - Smartphone
@media (max-width: 455px) {
  .pageContainer {

    // targets 2nd Banner
    div:nth-child(7) {
      > div {
        > div {
          font-size: 14px
        }
      }
    }
  }
}
