.container {
  // @todo: need this for all containers? Only noticable at end of container
  height: 100%;

  // @todo: make app-wide
  .stdContent {
    margin: 36px 10%;
    display: flex;

    .left, .right {
      width: 50%;
      display: inline-block;
    }

    p {
      color: #050505;
      margin: 0;
    }

    .section {
      padding-right: 48px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  // @todo: make Callout component
  .callout {
    // @todo: make global gutter variable
    margin: 24px 10%;
    display: block;
    font-size: 36px;
    line-height: 48px;
    color: #5D6482;
  }
}
