.clientsRightsContainer {
  height: 100%;
  width: 100%;

  // handles 100% height for FF/IE
  display: inline-block;

  .stdContent {
    width: 1200px;
    min-height: 628px;
    margin: 48px auto;
  }

  .topAnchor {
    position: absolute;
    top: 60px;
  }
}
