.contactUsContainer {
  // @todo: need this for all containers? Only noticable at end of container
  height: 100%;

  img {
    height: 240px;
  }

  h2 {
    text-transform: capitalize;
  }

  // @todo: make app-wide
  .stdContent {
    width: 1200px;
    margin: 36px auto;
    display: flex;

    p {
      font-size: 15px;
      margin: 24px 0 0 0;
    }

    .left, .right {
      width: 50%;
      display: inline-block;
    }

    .section {
      padding-right: 48px;

      label {
        display: block;
        text-transform: uppercase;
        color: #333A54;
        font-family: 'libre franklin semibold';
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
      }

      .field {
        // height: 68px;
        margin: 12px 0;
        width: 100%;

        button {
          margin-top: 12px;
          height: 40px;
          width: 102px;
          border: none;
          font-family: 'libre franklin light';
          font-size: 16px;
          line-height: 16px;
          text-align: center;

          &:not(:last-child) {
            margin-right: 24px;
          }
        }

        .submit {
          background-color: #333A54;
          color: #F5F4F1;
        }

        .clear {
          color: #F5F4F1;
          background-color: #979593;
        }

        > input, textarea {
          height: 40px;
          width: 100%;
          display: block;
          border: 1px solid #979593;
          background-color: #FFFFFF;
        }

        > textarea {
          height: 188px;
        }
      }

      .address {
        display: flex;

        > div {
          flex: 1;

          p, a {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
          }

          p {
            color: #050505;
          }

          a {
            color: #333A54;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  // @todo: make Callout component
  .callout {
    // @todo: make this width a global for all main content
    width: 1200px;
    margin: 36px auto;
    color: #5D6482;
    font-family: 'libre franklin light';
    letter-spacing: .5px;
    font-size: 36px;
    line-height: 48px;
    display: block;
  }
}
