.container {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-top: 8px solid #F5F4F1;

  z-index: 999;
  width: 1920px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  background-color: #FFF;

  .logoAndMenu{
    width: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

// Responsive - Small desktop
@media (max-width: 1280px) {
  .container {
    width: 1280px;
  }
}

// Responsive - Tablet (todo)
@media (max-width: 768px) {
  .container {
    // max-width: 768px; MAKE THIS CHANGE FOR OTHER MQUERIES
    max-width: 100%; // CHANGED FROM ABOVE
    height: 80px;
    border-top: 0;
    box-sizing: border-box;

    .logoAndMenu {
      // align logo to left to make space for hamburger menu
      justify-content: space-between;
      padding-top: 8px;
    }
  }
}
