.container {
  margin: 24px 320px 0;
  width: 1200px;
  display: flex;
  justify-content: space-around;

  li {
    list-style-type: none;
    margin: 0;

    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 10px;

      font-size: 12px;

      // use global variable
      color: #333A54;

      > .main {
        white-space: nowrap;
        text-transform: uppercase;
      }

      > .sub {
        text-transform: capitalize;
        margin-top: 6px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
