.container {
  // background-color: salmon;

  margin: 24px 320px 0;
  display: flex;
  flex-grow: 2;
  justify-content: space-around;

  li {
    list-style-type: none;
    margin: 0;

    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 10px;

      font-size: 12px;

      // use global variable
      color: #333A54;

      > .main {
        // border: 1px solid green;
        white-space: nowrap;
        text-transform: uppercase;
      }

      > .sub {
        // border: 1px solid purple;
        text-transform: capitalize;
        margin-top: 6px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
