@font-face {
  font-family: 'libre franklin light';
  src: url('../../assets/fonts/Libre_Franklin/LibreFranklin-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre franklin medium';
  src: url('../../assets/fonts/Libre_Franklin/LibreFranklin-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre franklin semibold';
  src: url('../../assets/fonts/Libre_Franklin/LibreFranklin-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre franklin regular';
  src: url('../../assets/fonts/Libre_Franklin/LibreFranklin-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.mainContainer {
  font-family: 'libre franklin regular';

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
  }

  p, a {
    font-size: 12px;
    margin: 0;
    color: #333A54;
  }

  .mainContent {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFFFFF;

    h4 {
      font-family: 'libre franklin semibold';
      font-size: 16px;
      line-height: 24px;
      color: #333A54;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      color: #050505;
      font-family: 'libre franklin regular';
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
  }
}

// @todo: apply global .callout
// .callout {
//   height: 144px;
//   width: 1200px;
//   color: #5D6482;
//   font-family: "libre franklin semibold";
//   font-size: 36px;
//   line-height: 48px;
// }
