@font-face {
  font-family: 'libre franklin semibold';
  src: url('../../assets/fonts/Libre_Franklin/LibreFranklin-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  .mainContent {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFFFFF;

    h4 {
      font-family: 'libre franklin semibold';
      font-size: 16px;
      line-height: 24px;
      color: #333A54;
      text-transform: uppercase;
      margin: 0;
    }
  }
}
